body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #aa111c, #ad1a19, #b02215, #b32811, #b52f0c);}
.container{
   background:url("./img/1519820465.jpg");
}